table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  padding: 8px;
  border: 1px solid rgb(222, 226, 230);
  text-align: center; /* Center align content within table cells */
}

th {
  font-weight: 700;
}

@media screen and (max-width: 768px) {
  table {
    font-size: 12px;
  }

  th,
  td {
    padding: 4px;
  }
  
  th {
    font-weight: 500;
  }
}

@media screen and (max-width: 480px) {
  table {
    font-size: 10px;
  }
  
  th,
  td {
    padding: 2px;
  }
  
}
