table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  padding: 8px;
  border: 1px solid rgb(222, 226, 230);
  text-align: center; /* Center align content within table cells */
}

th {
  font-weight: 700;
}
